$header-height: 64px;
$footer-height: 64px;

$font-family: monospace, sans-serif;
$border-radius: 10px;

$pink: #fc72ff;
$pink2: #db48dd;
$white: #ffffff;
$black: #080808;
$black2: #0e0d0d;
$black3: #131313;
$gray1: #1e1f23;
$gray2: #9b9b9b;
$gray3: #52545e;
$transparent: transparent;

$mobile: 992px;
